body {
    background-color: #f2f2f2;
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-forms {
    background-color: #fff;
    width: 25%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .auth-forms {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .auth-forms {
        width: 70%;
    }
}

.auth-forms h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

button[type="submit"]:focus {
    outline: none;
}

.error {
    color: red;
}

a {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: #4caf50;
}
